.card{
    padding: 4%;
    font-family: Raleway;
}
.title{
    font-family: GT-Super;
    text-align: center;
}
label{
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    /* other styles if needed */
}

img{
    width: 100%;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.btn {
    background-color: #8F9779;
    border-color: #8F9779;
    display: block;
    margin-left: auto; 
    margin-right:auto;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}
.btn:hover{
    background-color: #80876C;
    border-color: #80876C;
}
#edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #8F9779;
    cursor: pointer;
}
#edit-icon:hover{
    color: #80876C;
}