a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: rgba(255,255,255,.55);
  font-size: 22px;
}
.navbar{
  background-color: #8F9779;
}
/* 4F7942  8A9A5B 8F9779 679267 355E3B*/

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link{
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}