.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* creates 3 columns with equal width */
    grid-gap: 10%;
    /* adjust the gap as needed */
    padding: 20px;
    margin-bottom: 30%;
}
.card{
    padding-bottom: 3%;
    font-family: GT-Super;
}
.card-text{
    text-align: center;
    padding: 4%;
}
.btn {
    background-color: #8F9779;
    border-color: #8F9779;
    display: block;
    margin-left: auto; 
    margin-right:auto;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
    font-family: Raleway;
}
.btn:hover{
    background-color: #80876C;
    border-color: #80876C;
}
p{
    font-size: 12px !important;
}