<div class="card">
  <h2 class="signup-title">Cont nou</h2>

  <form novalidate (ngSubmit)="save()" [formGroup]="signupForm">

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="usernameId"><i class="fa-solid fa-user"></i></label>
      <div class="col-md-8">
        <input class="form-control" id="usernameId" type="text" placeholder="username (required)"
          formControlName="username" [ngClass]="{'is-invalid': (signupForm.get('username')?.touched ||
                                            signupForm.get('username')?.dirty) &&
                                            !signupForm.get('username')?.valid }" />
        <span class="invalid-feedback">
          <span *ngIf="signupForm.get('username')?.errors?.required">
            Please choose an username.
          </span>
          <span *ngIf="signupForm.get('username')?.errors?.minlength">
            Your username must have at least 3 characters.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="emailId"><i class="fa-solid fa-envelope"></i></label>
      <div class="col-md-8">
        <input class="form-control" id="emailId" type="email" placeholder="email (required)" formControlName="email"
          [ngClass]="{'is-invalid': (signupForm.get('email')?.touched ||
            signupForm.get('email')?.dirty) &&
            !signupForm.get('email')?.valid }" />
        <span class="invalid-feedback">
          <span *ngIf="signupForm.get('email')?.errors?.required">
            Please enter your email address.
          </span>
          <span *ngIf="signupForm.get('email')?.errors?.email">
            Please enter a valid email address.
          </span>
        </span>
      </div>
    </div>

    <div formGroupName="passwordGroup">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="passwordId"><i class="fa-solid fa-lock"></i></label>
        <div class="col-md-8 position-relative">
          <div class="input-group">
            <input class="form-control" id="passwordId" type="password" placeholder="password (required)"
              formControlName="password" [ngClass]="{'is-invalid': passwordMessage }" />
            <i class="fa-regular fa-eye position-absolute" style="right: 10px; top: 10px; cursor: pointer;"
              (click)="togglePasswordVisibility()"></i>
            <span class="invalid-feedback">
              {{ passwordMessage }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="confirmPasswordId"></label>
        <div class="col-md-8 position-relative">
          <div class="input-group">
          <input class="form-control" id="confirmPasswordId" type="password" placeholder="confirm password (required)"
            formControlName="confirmPassword" [ngClass]="{'is-invalid': signupForm.get('passwordGroup')?.errors ||
                                             ((signupForm.get('passwordGroup.confirmPassword')?.touched || 
                                              signupForm.get('passwordGroup.confirmPassword')?.dirty) && 
                                              !signupForm.get('passwordGroup.confirmPassword')?.valid) }" />
          <i class="fa-regular fa-eye position-absolute" style="right: 10px; top: 10px; cursor: pointer;"
            (click)="togglePasswordVisibility()"></i>
          <span class="invalid-feedback">
            <span *ngIf="signupForm.get('passwordGroup.confirmPassword')?.errors?.required">
              Please confirm your password.
            </span>
            <span *ngIf="signupForm.get('passwordGroup')?.errors?.match">
              The passwords do not match.
            </span>
          </span></div>
        </div>
      </div>
    </div>


  </form>


  <button class="btn btn-dark" type="submit" style="width:80px"
          (click)="Register()"
    [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
    [disabled]="!signupForm.valid">
    Inscrie-te
  </button>


</div>
<br>Value: {{ signupForm.value | json }}
<br>&nbsp;
