.btn, .registrationSuccess {
    display: block;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}

.registrationSuccess{
    margin-top: 5%;
}

.card{
    padding: 4%;
    font-family: Raleway;
}

form{
    margin: 5%;
}

.signup-title {
    color: var(--bs-body-color);
    text-align: center;
}

h1,
h2,
h3 {
    font-family: GT-Super;
}


p {
    font-family: Raleway;
}
.btn{
    background-color: #8F9779;
    border-color: #8F9779;
}
.btn:hover{
    background-color: #80876C;
    border-color: #80876C;
}

