.btn {
    display: block;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}

.card{
    padding: 4%;
    font-family: Raleway;
}

form{
    margin: 5%;
}

.signup-title {
    color: #3b3630;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: GT-Super;
}


p {
    font-family: Raleway;
}


