<div class="profile-container">
  <div id="profile-area" class="card d-flex align-items-center justify-content-center">
    <div class="image-container position-relative">
      <img class="card-img-top" src="{{profilePicture}}" alt="Profile picture">
      <i id="edit-icon" class="fa-solid fa-pen-to-square" (click)="fileInput.click()"></i>
      <input type="file" #fileInput style="display: none;" (change)="editPicture($event)">
    </div>
    <h5>{{points}} p</h5>
    <button id="checkin" class="btn btn-light"
            (click)="dailyCheckin()">
      Check-in
    </button>
    <p *ngIf="dailyAlreadyClaimed" class="dailyAlreadyClaimed">
      Ati primit deja daily reward-ul astazi.<br /> Incercati mai tarziu
    </p>
    <p *ngIf="dailySuccess" class="dailySuccess">
      Felicitari! Ati primit daily reward-ul.
    </p>
  </div>
    <div id="about-area" class="card">
        <h5>Despre</h5>
        <div class="table">
          <tbody>
            <tr>
              <th scope="row">username</th>
              <td>{{username}}</td>
            </tr>
            <tr>
              <th scope="row">email</th>
              <td>{{email}}</td>
            </tr>
            <tr>
              <th scope="row">role</th>
              <td>{{userRoles}}</td>
            </tr>
          </tbody>
        </div>
    </div>
    <div id="options-area" class="card">
      <h5>Optiuni</h5>
      <p style="text-align: center; color: #2a8033;" class="forgotEmailSuccess" *ngIf="forgotEmailSuccess">
        Un email ce contine link-ul de resetare a parolei a fost trimis cu succes.
      </p>
      <div class="buttons">
        <div class="options-grid">
          <button id="logout" class="btn btn-dark"
                  (click)="logOut()">
            Deconecteaza-te
          </button>
          <button id="changepass" (click)="doForgotPassword()" class="btn btn-dark">
            Schimba parola
          </button>
        </div>

        <p *ngIf="logOutSuccess" class="logOutSuccess">
          V-ati delogat cu succes<br />Veti fi redirectionat!
        </p>

      </div>
    </div>
