<div class="profile-container">
    <div id="profile-area" class="card d-flex align-items-center justify-content-center">
        <div class="image-container position-relative">
            <img class="card-img-top" src="../../assets/photos/profile_pic_4.jpg" alt="Profile picture">
            <i id="edit-icon" class="fa-solid fa-pen-to-square" (click)="editPicture()"></i>
        </div>
        <h5>{{points}} p</h5>
        <button id="checkin" class="btn btn-light"
        (click)="dailyCheckin()">
            Check-in
        </button>
    </div>
    <div id="about-area" class="card">
        <h5>Despre</h5>
        <div class="table">
            <tbody>
                <tr>
                    <th scope="row">username</th>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <th scope="row">email</th>
                    <td>{{email}}</td>
                </tr>
            </tbody>
        </div>
    </div>
    <div id="options-area" class="card">
        <h5>Optiuni</h5>
        <div class="buttons">
        <div class="options-grid">
            <button id="logout" class="btn btn-dark">
                Deconecteaza-te
            </button>
            <button id="changepass" class="btn btn-dark">
                Schimba parola
            </button></div>
        </div>
    </div>
</div>