<div class="home-page">
  <div class="card-header">
    <h1>GreenScape: Plantează și iubește</h1>
    <p>Bine ai venit pe GreenScape: Plantează și iubește! Nu este doar o simplă aplicație de grădinărit; este un întreg
      ecosistem digital creat special pentru tine, pasionat de natură și grădinărit. Aici, tehnologia se împletește
      armonios cu dragostea pentru mediul înconjurător. Scopul nostru este să îți oferim o experiență captivantă și
      educativă în universul grădinăritului, consolidând legătura ta cu natura și încurajându-te să cultivi și să ai
      grijă de plante în propria ta grădină. Bucură-te de fiecare moment petrecut alături de noi și descoperă frumusețea
      grădinăritului într-un mod inedit!</p>
  </div>
  
  <div class="card-body">
    <div class="home-menu">
      <h2>Descopera:</h2>
      <div class="grid-container">
        <div class="card" id="legume" [routerLinkActive]="['link-active']" [routerLink]="['/legume']">
          <div class="image-box">
            <img class="card-img-top" src="../../assets/photos/vegetables.webp" alt="Legume homepage">
          </div>
          <div class="card-body">
            <h5 class="card-title">Legume</h5>
          </div>
        </div>
        <div class="card" id="fructe" [routerLinkActive]="['link-active']" [routerLink]="['/fructe']">
          <div class="image-box">
            <img class="card-img-top" src="../../assets/photos/fructe.jpg" alt="Fructe homepage">
          </div>
          <div class="card-body">
            <h5 class="card-title">Fructe</h5>
          </div>
        </div>
        <div class="card" id="flori" [routerLinkActive]="['link-active']" [routerLink]="['/flori']">
          <div class="image-box">
            <img class="card-img-top" src="../../assets/photos/flori.webp" alt="Flori homepage">
          </div>
          <div class="card-body">
            <h5 class="card-title">Flori</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="home-login">
      <h2 class="home-login-redirect" [routerLinkActive]="['link-active']" [routerLink]="['/login']">Ai cont ?</h2>
      <p class="log-home-text">Loghează-te pentru sau creează-ți un cont pentru a te alătura comunității noastre!</p>
    </div>

  </div>
</div>